scikit-image
trimesh
omegaconf
tqdm
huggingface_hub
einops
numpy
transformers==4.40.2
diffusers
triton==3.1.0
flash-attn
pymeshfix
git+https://github.com/EasternJournalist/utils3d.git#egg=utils3d
pyvista
igraph
third_party/voxelize/